body{
    background-image: url(./image/bg-desktop-light.jpg);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
}

#title > h1{
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Open sans';
    color: #033fbe;
}

/* From Uiverse.io by gohar_7145 */ 
.outline {
    position: absolute;
    inset: 0;
    pointer-events: none;
    }

.rect {
    stroke-dashoffset: 5;
    stroke-dasharray: 0 0 10 40 10 40;
    transition: 0.5s;
    stroke: #033fbe;
    }

.nav {
    position: relative;
    width: 400px;
    height: 60px;
    border-radius: 40px;
    }

.container:hover .outline .rect {
    transition: 999999s;
    /* Must specify these values here as something *different* just so that the transition works properly */
    stroke-dashoffset: 1;
    stroke-dasharray: 0;
    }

.container {
    position: absolute;
    inset: 0;
    background: rgba(16, 16, 16, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    }

.btn {
    padding: 0.5em 1.5em;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
    }


    .btn:hover {
    background: #424cdb;
    border-radius: 10px;
    }

.btn > a{
    color: #fff;
}

.btn:nth-child(1):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 2 8 73.3 8 10.7;
    }

.btn:nth-child(2):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 12.6 9.5 49.3 9.5 31.6;
    }

.btn:nth-child(3):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 24.5 8.5 27.5 8.5 55.5;
    }

.btn:nth-child(4):hover ~ svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 34.7 6.9 10.2 6.9 76;
    }

.btn:hover ~ .outline .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 0 10 40 10 40;
    transition: 0.5s !important;
    }


main{
    display: flex;
    flex-direction: row; 
    margin-top: 50px;

}

h2{
    font-size: 36px;
    line-height: 10px;
    font-family: 'poppinsmedium';
}

#Destaque{
    color: #5624dffa;
}

section{
    background-color: rgba(90, 90, 90, 0.26);
    margin-left: 50px;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'poppinslight';
}

aside{
    margin-left: 250px;
} 


.card {
    width: 480px;
    height: 350px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    }

.card img{
    width: 450px;
    border-radius: 2%;
    z-index: 1;
    }

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 170%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    }

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
    }

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
    }  
    /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
    } */

footer{
    color: #fff;
    background-color: #033fbe;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 32%;
    max-width: 500px;
}